extends ../layout

block content
  h1= title

  form(action='/beers/#{cerveja.id}', method='POST')
    label
      span Nome
      input(type='text', name='name', placeholder='name', value='#{cerveja.name}')

    label
      span Teor alcoólico
      input(type='text', name='alcohol', placeholder='alcohol', value='#{cerveja.alcohol}')

    label
      span Categoria
      input(type='text', name='category', placeholder='category', value='#{cerveja.category}')

    label
      span Descrição
      textarea(name='description', placeholder='description', value='#{cerveja.description}')

    input(type='submit', value='Deletar')
    input(type='hidden', name='_method', value='DELETE')
