extends ../layout

block content
  h1= title

  h2= msg

  for cerveja in cervejas
    li #{cerveja.name} - #{cerveja.category}
      br
      a.bt(href="/beers/view/#{cerveja._id}") View
      a.bt(href="/beers/edit/#{cerveja._id}") Edit
      a.bt.del(href="/beers/del/#{cerveja._id}") Delete

  a.bt(href="/beers/add") Add