extends ../layout

block content
  h1= title

  p
    | Nome: #{cerveja.name}
    br
    | Álcool: #{cerveja.alcohol}
    br
    | Categoria: #{cerveja.category}
    br
    | Descrição: #{cerveja.description}
    br
    br

    a.bt(href="/beers/edit/#{cerveja._id}") Edit
    a.bt.del(href="/beers/del/#{cerveja._id}") Delete
